
// @media (max-height: 1024px) {
// 	.card--popcorn, .card--icecream {
// 	  .card__content {
// 		  min-height: 40%;
// 	  }
// 	  .card__details {
// 		  min-height: 60%;
// 	  }
// 	}
//   }
  
  
  
  @media (min-width: 600px) and (max-width: 1024px) {
	.card__column-layout {
		flex-direction: row;
		flex: 1;
	}
	.card__container {
		flex-wrap: wrap;
	}
	.card--pea {
		order: -3;
	}
		.card--popcorn {
			order: -1;
		}
		.card--icecream  {
			order: -2;
		}
		
    }
  